
/* 前提 */
*{
  list-style: none;
  box-sizing: border-box;
}
.body{
min-width: 1155px;
background-color: white;
}
* a,p,h2{
  font-family: 'Playfair Display', serif;
}
* a:hover{
  color:inherit;
}

.wrapper{
  width:100%;
}
/* ----------header---------- */
header{
  position: relative;
  min-width: 1155px;
}
/* -----slide----- */
.slides{
  position: relative;
  background-color: white;
}
.slide img{
  width:100%;
  min-width: 1155px;
  height:100vh;
  z-index: 0;
}
.slide-animation{
  animation:key8 20s ease forwards;
}
/* -----topleft----- */
.header-topleft{
  position: absolute;
  Top:100px;
  Left:100px;
  z-index: 1;
}
.header-topleft p{
  font-size:12px;
  color:white;
  line-height: 20px;
  font-weight: lighter;
}
.header-topleft p:first-of-type{
  margin-top: 20px;
  margin-bottom: 12px;
}
/* -----title----- */
.header-title{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.header-title img{
  width:100px;
}
/* -----nav----- */
nav{
  writing-mode: vertical-rl;
  position: absolute;
  top:150px;
  right:100px;
  color:white;
}
nav ul li{
  font-size:16px;
  font-weight: lighter;
}
nav a:hover{
  color:white;
  animation: key2 .1s ease forwards;
}
nav a{
  position: relative;
  display: inline-block; /*←これがないとpaddingが効かなかった*/
  padding:12px;
  animation: key3 .8s ease forwards;
}
nav a:before{
  content:"";
  width:16px;
  height:1px;
  margin-bottom:10px;
  background: white;
  z-index: 1;
  position: absolute;
  top:0%;
  left:50%;
  transform:translate(-50%,-50%);
}
/* -----scroll----- */
.scroll{
  cursor: pointer;
  position: absolute;
  bottom:70px;
  left:100px;
  padding:0 10px 50px 10px;
  border-left: 1px solid white;
  z-index: 1;
  animation: key6 .8s ease forwards;
}
.scroll:hover{
  animation: key7 .1s ease forwards;
}
.scroll img{
  width:15px;
}
.scroll:after{
  content:"";
  height:70px;
  width:1px;
  background:black;
  position: absolute;
  left:-1px;
  top:100%;
  display: block;
  z-index: 2;
}
/* -----news----- */
.news{
  position: absolute;
  bottom:0;
  left:0;
  padding-left:150px;
  width:50%;
  height:70px;
  background-color: white;
  display:flex;
  align-items: flex-end;
  color:black;
  font-size: 12px;
  line-height: 20px;
}
.news dl{
  display: flex;
  flex-wrap: wrap;
}
.news dt:after{
  content:"/";
  margin:0 10px;
}
.news-list{
  display: flex;
  flex-direction: column-reverse;
}
.news a:hover{
  color:black;
}
.news-list a:hover em::after{
  animation: key4 .3s ease forwards;
}
.news-list li a em{
  position: relative;
}
.news-list em::after{
  display: inline-block;
  position: absolute;
  bottom:0;
  left:0;
  content: "";
  height:1px;
  width:100%;
  background:black;
  animation: key5 .3s ease forwards;
}
/* ----------content---------- */
.content{
  min-width: 1155px;
  position: relative;
  display:block;
  overflow: hidden;
  background-color: white;
}
/* ----------intro-section---------- */
.intro{
  position: relative;
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 290px;
}
/* -----intro-wrap----- */
.intro-wrap{
  display: block;
  width:50%;
  background-color: white;
}
.intro-cnt{
  padding:100px 40px 460px;
  color:black;
  display: block;
}
.intro-cnt h2{
  font-size:24px;
  line-height: 40px;
}
.intro-cnt p:first-of-type{
  font-size: 16px;
  margin-top: 40px;
  line-height: 34px;
  font-weight: lighter;
}
.intro-cnt p:last-child{
  font-size: 12px;
  margin-top: 40px;
  line-height: 20px;
  font-weight: lighter;
  color:grey;
}
.intro:before{
  content:"";
  display: block;
  position:absolute;
  top: 0;
  right: 0;
  height:100%;
  width:50%;
  background: rgb(232, 232, 232);
  z-index: 0;
}
/* -----intro-img----- */
.intro-img{
  position: relative;
  z-index:10;
  width:50%;
  padding-top:220px;
  padding-left:7%;
  padding-bottom:9%;
}
.intro-img-main{
  display:flex;
  flex-direction: row-reverse;
  height:790px;
  width:100%;
}
.intro-img-main img{
  width:100%;
}
.intro-img-logo{
  position:absolute;
  top:100px;
  right:-200px;
  width:700px;
  opacity:0.5;
  z-index: 20;
}
.intro-img-sub{
  position:absolute;
  top:67%;
  left:0;
  z-index: 20;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-left:14%;
  width:100%;
}
.intro-img-sub-item1{
  margin-left:60px;
}
.intro-img-sub-item2{
  margin-top:70px;
}
.intro-btm{
  position: absolute;
  bottom:-160px;
  left:0;
  width:63%;
}
.intro-btm img{
  width:100%;
  height:500px;
}
/* ----------movie-section---------- */
.movie{
  position: relative;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.movie-title{
  writing-mode: vertical-lr;
  color: black;
  font-size: 24px;
}
.movie-title-btm{
  color: black;
  margin-top: 30px;
  font-size: 10px;
  letter-spacing: 3px;
}
.movie-content{
  margin-top:50px;
  position: relative;
  display: flex;
  justify-content:center;
}
.movie-img{
  width:940px;
  z-index: 10;
  overflow: hidden;
}
.movie-img img{
  animation: key10 1s ease forwards;
}
.movie-btn{
  width:100px;
  position: absolute;
  Top:50%;
  Left:50%;
  transform: translate(-50%,-50%);
  z-index: 20;
}
.movie-btn img{
  width:100%; 
}
.movie-content:hover .movie-img img{
  animation:key9 1s ease forwards; 
}
/* ----------product-section---------- */
/* -----product-header----- */
.product{
  position: relative;
  width:100%;
  margin-bottom: 100px;
  left:100px;
}
.product-header{
  position: relative;
  width:100%;
  z-index: 10;
}
.product-title{
  position: absolute;
  writing-mode: vertical-rl;
  white-space: nowrap;
  top:0px;
  left:100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color:black;
}
.product-title h2{
  font-size: 24px;
}
.product-title p{
  margin-top: 30px;
  font-size: 10px;
  letter-spacing: 3px;
}
.product-text{
  padding:20px 0 20px 220px;
  color:black;
}
/* -----product-wrap----- */
.product-wrap{
  width:100%;
}
.product-cnt{
  position:relative;
  width:100%;
  background-color: rgb(232, 232, 232);
  padding:100px 0 60px 180px;
}
.product-link{
  position: absolute;
  width:200px;
  text-align:center;
  left:0;
  bottom:180px;
  color:black;
  opacity:0.3;
  transition:opacity 1s;
}
.product-link:hover{
  opacity:1;
  transition:opacity .6s;
}
.product-btn{
  position:absolute;
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:200px;
  left:0;
  bottom:100px;
  z-index: 10;
}
.left-btn{
  background: none;
  border: none;
  cursor: pointer;
  color:black;
  opacity:0.3;
  transition:opacity 1s;
}
.left-btn:hover{
  opacity:1;
  transition:opacity .6s;
}
.right-btn{
  background: none;
  border: none;
  cursor: pointer;
  color:black;
  opacity:0.3;
  transition:opacity 1s;
}
.right-btn:hover{
  opacity:1;
  transition:opacity .6s;
}
.icon-left::before{
  content: "\f053";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  z-index: 10;
  padding:20px;
  font-size:50px;
}
.icon-right::before{
  content: "\f054";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  z-index: 10;
  padding:20px;
  font-size:50px;
}
/* -----slide----- */
.product-slide{
  position: relative;
  width:100%;
  z-index: 1;
}
.slide-box{
  padding-top:20px;
  width:150%;
}
.product-slide img{
  width:100%;
  height:auto;
  box-shadow: 0 0 10px grey;
  transform: translate(0,0);
  transition:transform .3s, box-shadow .3s;
}
.product-slide a:hover img{
  transform: translate(-10px,-10px);
  box-shadow: 10px 10px 20px grey;
  transition:transform .3s, box-shadow .3s;
}
li.slick-slide{
  padding:20px;
}
.product-slide-list li p{
  width:100%;
  text-align: center;
  padding-top:20px;
  font-size:20px;
  color:black;
}
/* ----------type-section---------- */
/* header */
.type{
  position: relative;
  width:100%;
  display:flex;
  align-items: center;
  flex-direction: column;
}
.type-contents{
  margin-top:100px;
  width:1150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.type-contents a{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:330px;
  margin:0 20px;
  color:black;
  opacity:1;
  transition:opacity .5s;
}
.type-contents a:hover img{
  opacity:0.6;
  transition:opacity .5s;
}
.type-contents img{
  width:100%;
  height:190px;
  margin-bottom: 30px;
  margin-top: 50px;
}
.type-contents p:first-of-type{
  text-align: center;
  font-size:16px;
  line-height: 30px;
}
.type-contents p:last-child{
  text-align: center;
  font-size: 10px;
  line-height: 20px;
}
/* ----------menu-section---------- */
.menu{
  position: relative;
  width:100%;
  margin-top:100px;
}
.menu::before{
  background-color: rgb(232, 232, 232);
  position:absolute;
  z-index: 1;
  width:88%;
  height:100%;
  left:0;
  top:0;
  content:"";
}
.menu-list{
  z-index: 2;
  position:relative;
  padding-left:12%;
  top:150px;
  margin-bottom:200px;
}
.menu-list img{
  box-sizing: border-box;
  height:420px;
  opacity:1;
  transition:opacity .6s;
}
.menu-list a:hover img{
  opacity:0.5;
  transition:opacity .6s;
}
.menu-item a{
  position: relative;
  margin-bottom:30px;
  display: block;
  background-color: black;
}
.menu-item-cnt{
  color:white;
  position:absolute;
  Top:120px;
  left:100px;
  display:flex;
  flex-direction:column;
  z-index: 3;
}
.menu-item a::before{
  content:"";
  height:1px;
  width:80px;
  background:white;
  position:absolute;
  top:130px;
  left:0;
  z-index:3;
}
.menu-item-cnt h2{
  font-size:24px;
  margin-bottom:50px;
  font-weight: lighter;
}
.menu-item-cnt p:first-of-type{
  font-size:14px;
  margin-bottom:30px;
  font-weight: lighter;
  line-height: 24px;
}
.menu-item-cnt p:last-of-type{
  font-size:10px;
  font-weight: lighter;
}
.menu-img{
  position:absolute;
  top:450px;
  left:-150px;
  width:650px;
  z-index: 10;
  opacity:0.5;
}
/* ----------sns-section---------- */
.sns{
  position: relative;
  width:100%;
  margin-top:50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction:column;
  align-items: center;
}
.sns-header p{
  color:black;
  font-weight: lighter;
  font-size:24px;
  font-style: italic;
}
.sns-img img{
  width:50px;
  border-radius: 50%;
  margin:20px;
  box-shadow: 0 6px 8px grey;
}
/* ----------footer---------- */
.foot{
  position: relative;
  display:flex;
  justify-content: center;
  min-width: 1155px;
  border-top: 1px solid grey;
  background-color:white;
}
.foot-inner{
  padding:100px 0;
  width:1100px;
  display: flex;
  flex-direction: column;
  color:black;
}
.foot-row{
  display: flex;
  justify-content: space-between;
  width:100%;
}
.foot-info{
  display:flex;
  flex-direction:column;
}
.foot-info h2{
  font-size:24px;
  margin-bottom: 20px;
}
.foot-info p{
  font-size:18px;
  line-height:30px;
}
.foot-list{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.foot-list li a{
  position: relative;
  margin:10px;
  font-size: 14px;
}
.foot-list li a::after{
  display: inline-block;
  position: absolute;
  bottom:-5px;
  left:50%;
  transform:translate(-50%,-50%);
  content: "";
  height:1px;
  width:0;
  border-bottom: 1px solid black;
  transition: width .3s linear;
}
.foot-list li a:hover::after{
  
  width:50px;
  transition: width .3s linear;
}
.page-top{
  position: absolute;
  top:-25px;
  right:100px;
  width:50px;
  height:50px;
  background:black;
  border-radius: 50%;
  box-shadow:0 6px 8px grey;
  z-index:5;
  cursor: pointer;
}
.page-top span::before{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  content: "\f077";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  z-index: 10;
  font-size:20px;
  color:white;
}

/* ----------buy,button---------- */
.buy,.gmenu{
  width:70px;
  height:70px;
  position:fixed;
  top:0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buy{
  right:70px;
  background-color:black;
  color:white;
  z-index:800;
}
.buy:hover{
  color:white;
}
.buy .bounce{
  animation: key1 1.5s ease;
}
.buy span:first-child::before{
  color: #fff;
  content: "\f290";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.buy span:first-child{
  padding-bottom: 5px;
}
.buy span:last-child{
  font-size: 14px;
  font-weight: lighter;
}
.gmenu{
  right:0px;
  background-color: white;
  z-index:1000;
  border: none;
  cursor: pointer;
}
.gmenu span{
  display: block;
  height:1px;
  width:28px;
  background:black;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-14px;
}
.top{
  animation: menu-top 0.6s forwards;
}
.btm{
  animation: menu-btm 0.6s forwards;
}
.-open .top{
  animation: menu-top-open 0.6s forwards;
}
.-open .btm{
  animation: menu-btm-open 0.6s forwards;
}
/* ----------gnav---------- */
.gnav {
  position: fixed;
  top: 0;
  left: -100px;
  height: 100%;
  z-index: 900;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
  width: 0%;
  transform: skewX(-10deg);
  transition: width ease-in-out 0.8s, transform ease-in-out 0.8s, left ease-in-out 0.8s;
}
.gnav.-open{
  left:0;
  width: 100%;
  transform: skewX(0deg);
}
.gnav-list {
  font-size: 16px;
}
.gnav.-open .gnav-list li {
  opacity: 1;
  transform: translateX(0px);
}
.gnav-list li {
  opacity: 0;
  transform: translateX(-20px);
  transition: all .3s;
}
.gnav-list li a {
  display: block;
  padding: 15px 15px 15px 30px;
  position: relative;
}
.gnav-list li a:before {
  width: 16px;
  height: 1px;
  background: #141414;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
}
.gnav-list li a span {
  color:black;
  transform: translateX(0px);
  display: inline-block;
  transition: transform .6s, color .2s;
}
.gnav.-open .gnav-list li a:hover span{
  color:rgb(203, 190, 107);
  transform: translateX(20px);
}
/* ----------scrollin---------- */
.fadein,.fadein2,.fadein3{
  opacity: 0;
  transform : translate(0, -50px);
  transition : all 1500ms;
}
.fadein.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}
.logo.scrollin{
  opacity: 0.6;
  transform: translate(0, 0);
}
.fadein2.scrollin2{
  opacity: 1;
  transform: translate(0, 0);
}
.fadein3.scrollin3{
  opacity: 1;
  transform: translate(0, 0);
}
.delay500ms.scrollin{
	-moz-transition-delay:500ms;
	-webkit-transition-delay:500ms;
	-o-transition-delay:500ms;
	-ms-transition-delay:500ms;
}
.delay700ms.scrollin{
	-moz-transition-delay:700ms;
	-webkit-transition-delay:700ms;
	-o-transition-delay:700ms;
	-ms-transition-delay:700ms;
}
.delay800ms.scrollin{
	-moz-transition-delay:800ms;
	-webkit-transition-delay:800ms;
	-o-transition-delay:800ms;
	-ms-transition-delay:800ms;
}
.delay1000ms.scrollin{
	-moz-transition-delay:1000ms;
	-webkit-transition-delay:1000ms;
	-o-transition-delay:1000ms;
	-ms-transition-delay:1000ms;
}
.delay1200ms.scrollin{
	-moz-transition-delay:1200ms;
	-webkit-transition-delay:1200ms;
	-o-transition-delay:1200ms;
	-ms-transition-delay:1200ms;
}
.delay1500ms.scrollin{
	-moz-transition-delay:1500ms;
	-webkit-transition-delay:1500ms;
	-o-transition-delay:1500ms;
	-ms-transition-delay:1500ms;
}
.delay1600ms.scrollin{
	-moz-transition-delay:1600ms;
	-webkit-transition-delay:1600ms;
	-o-transition-delay:1600ms;
	-ms-transition-delay:1600ms;
}
.delay1700ms.scrollin{
	-moz-transition-delay:1700ms;
	-webkit-transition-delay:1700ms;
	-o-transition-delay:1700ms;
	-ms-transition-delay:1700ms;
}
.delay1800ms.scrollin{
	-moz-transition-delay:1800ms;
	-webkit-transition-delay:1800ms;
	-o-transition-delay:1800ms;
	-ms-transition-delay:1800ms;
}
.delay1900ms.scrollin{
	-moz-transition-delay:1900ms;
	-webkit-transition-delay:1900ms;
	-o-transition-delay:1900ms;
	-ms-transition-delay:1900ms;
}
.delay200ms.scrollin3{
	-moz-transition-delay:200ms;
	-webkit-transition-delay:200ms;
	-o-transition-delay:200ms;
	-ms-transition-delay:200ms;
}
.delay400ms.scrollin3{
	-moz-transition-delay:400ms;
	-webkit-transition-delay:400ms;
	-o-transition-delay:400ms;
	-ms-transition-delay:400ms;
}
.delay600ms.scrollin3{
	-moz-transition-delay:600ms;
	-webkit-transition-delay:600ms;
	-o-transition-delay:600ms;
	-ms-transition-delay:600ms;
}
.delay800ms.scrollin3{
	-moz-transition-delay:800ms;
	-webkit-transition-delay:800ms;
	-o-transition-delay:800ms;
	-ms-transition-delay:800ms;
}