
/* 前提 */
*{
  list-style: none;
  box-sizing: border-box;
}
.body{
min-width: 1155px;
background-color: white;
}
* a,p,h2{
  font-family: 'Playfair Display', serif;
}
* a:hover{
  color:inherit;
}

.wrapper{
  width:100%;
}
/* ----------header---------- */
header{
  position: relative;
  min-width: 1155px;
}
/* -----slide----- */
.slides{
  position: relative;
  background-color: white;
}
.slide img{
  width:100%;
  min-width: 1155px;
  height:100vh;
  z-index: 0;
}
.slide-animation{
  animation:key8 20s ease forwards;
}
/* -----topleft----- */
.header-topleft{
  position: absolute;
  Top:100px;
  Left:100px;
  z-index: 1;
}
.header-topleft p{
  font-size:12px;
  color:white;
  line-height: 20px;
  font-weight: lighter;
  opacity:0.8;
}
.header-topleft p:first-of-type{
  margin-top: 20px;
  margin-bottom: 12px;
}
/* -----title----- */
.header-title{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.header-title img{
  width:100px;
}
/* -----nav----- */
nav{
  writing-mode: vertical-rl;
  position: absolute;
  top:150px;
  right:100px;
  color:white;
}
nav ul li{
  font-size:16px;
  font-weight: lighter;
}
nav a:hover{
  color:white;
  animation: key2 .1s ease forwards;
}
nav a{
  position: relative;
  display: inline-block; /*←これがないとpaddingが効かなかった*/
  padding:12px;
  animation: key3 .8s ease forwards;
}
nav a:before{
  content:"";
  width:16px;
  height:1px;
  margin-bottom:10px;
  background: white;
  z-index: 1;
  position: absolute;
  top:0%;
  left:50%;
  transform:translate(-50%,-50%);
}
/* -----scroll----- */
.scroll{
  position: absolute;
  bottom:70px;
  left:100px;
  padding:0 10px 50px 10px;
  border-left: 1px solid white;
  z-index: 1;
  animation: key6 .8s ease forwards;
}
.scroll:hover{
  animation: key7 .1s ease forwards;
}
.scroll img{
  width:15px;
}
.scroll:after{
  content:"";
  height:70px;
  width:1px;
  background:black;
  position: absolute;
  left:-1px;
  top:100%;
  display: block;
  z-index: 2;
}
/* -----news----- */
.news{
  position: absolute;
  bottom:0;
  left:0;
  padding-left:150px;
  width:50%;
  height:70px;
  background-color: white;
  display:flex;
  align-items: flex-end;
  color:black;
  font-size: 12px;
  line-height: 20px;
}
.news dl{
  display: flex;
  flex-wrap: wrap;
}
.news dt:after{
  content:"/";
  margin:0 10px;
}
.news-list{
  display: flex;
  flex-direction: column-reverse;
}
.news a:hover{
  color:black;
}
.news-list a:hover em::after{
  animation: key4 .3s ease forwards;
}
.news-list li a em{
  position: relative;
}
.news-list em::after{
  display: inline-block;
  position: absolute;
  bottom:0;
  left:0;
  content: "";
  height:1px;
  width:100%;
  background:black;
  animation: key5 .3s ease forwards;
}
/* ----------content---------- */
.content{
  min-width: 1155px;
  position: relative;
  display:block;
  overflow: hidden;
  background-color: white;
}
/* ----------intro-section---------- */
.intro{
  position: relative;
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 290px;
}
/* -----intro-wrap----- */
.intro-wrap{
  display: block;
  width:50%;
  background-color: white;
}
.intro-cnt{
  padding:100px 40px 460px;
  color:black;
  display: block;
}
.intro-cnt h2{
  font-size:24px;
  line-height: 40px;
}
.intro-cnt p:first-of-type{
  font-size: 16px;
  margin-top: 40px;
  line-height: 34px;
  font-weight: lighter;
}
.intro-cnt p:last-child{
  font-size: 12px;
  margin-top: 40px;
  line-height: 20px;
  font-weight: lighter;
  color:grey;
}
.intro:before{
  content:"";
  display: block;
  position:absolute;
  top: 0;
  right: 0;
  height:100%;
  width:50%;
  background: rgb(232, 232, 232);
  z-index: 0;
}
/* -----intro-img----- */
.intro-img{
  position: relative;
  z-index:10;
  width:50%;
  padding-top:220px;
  padding-left:7%;
  padding-bottom:9%;
}
.intro-img-main{
  display:flex;
  flex-direction: row-reverse;
  height:790px;
  width:100%;
}
.intro-img-main img{
  width:100%;
}
.intro-img-logo{
  position:absolute;
  top:100px;
  right:-200px;
  width:700px;
  opacity:0.5;
  z-index: 20;
}
.intro-img-sub{
  position:absolute;
  top:67%;
  left:0;
  z-index: 20;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-left:14%;
  width:100%;
}
.intro-img-sub-item1{
  margin-left:60px;
}
.intro-img-sub-item2{
  margin-top:70px;
}
.intro-btm{
  position: absolute;
  bottom:-160px;
  left:0;
  width:63%;
}
.intro-btm img{
  width:100%;
  height:500px;
}
/* ----------movie-section---------- */
.movie{
  position: relative;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.movie-title{
  writing-mode: vertical-lr;
  color: black;
  font-size: 24px;
}
.movie-title-btm{
  color: black;
  margin-top: 30px;
  font-size: 10px;
  letter-spacing: 3px;
}
.movie-content{
  margin-top:50px;
  position: relative;
  display: flex;
  justify-content:center;
}
.movie-img{
  width:940px;
  z-index: 10;
  overflow: hidden;
}
.movie-img img{
  animation: key10 1s ease forwards;
}
.movie-btn{
  width:100px;
  position: absolute;
  Top:50%;
  Left:50%;
  transform: translate(-50%,-50%);
  z-index: 20;
}
.movie-content:hover .movie-img img{
  animation:key9 1s ease forwards; 
}
/* ----------product-section---------- */
/* -----product-header----- */
.product{
  position: relative;
  width:100%;
  margin-bottom: 100px;
  left:100px;
}
.product-header{
  position: relative;
  width:100%;
  z-index: 10;
}
.product-title{
  position: absolute;
  writing-mode: vertical-rl;
  white-space: nowrap;
  top:0px;
  left:100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color:black;
}
.product-title h2{
  font-size: 24px;
}
.product-title p{
  margin-top: 30px;
  font-size: 10px;
  letter-spacing: 3px;
}
.product-text{
  padding:20px 0 20px 220px;
  color:black;
}
/* -----product-wrap----- */
.product-wrap{
  width:100%;
}
.product-cnt{
  position:relative;
  width:100%;
  background-color: rgb(232, 232, 232);
  padding:100px 0 60px 180px;
}
.product-link{
  position: absolute;
  width:200px;
  text-align:center;
  left:0;
  bottom:180px;
  color:black;
  opacity:0.3;
  transition:opacity 1s;
}
.product-link:hover{
  opacity:1;
  transition:opacity .6s;
}
.product-btn{
  position:absolute;
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:200px;
  left:0;
  bottom:100px;
  z-index: 10;
}
.left-btn{
  background: none;
  border: none;
  cursor: pointer;
  color:black;
  opacity:0.3;
  transition:opacity 1s;
}
.left-btn:hover{
  opacity:1;
  transition:opacity .6s;
}
.right-btn{
  background: none;
  border: none;
  cursor: pointer;
  color:black;
  opacity:0.3;
  transition:opacity 1s;
}
.right-btn:hover{
  opacity:1;
  transition:opacity .6s;
}
.icon-left::before{
  content: "\f053";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  z-index: 10;
  padding:20px;
  font-size:50px;
}
.icon-right::before{
  content: "\f054";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  z-index: 10;
  padding:20px;
  font-size:50px;
}
/* -----slide----- */
.product-slide{
  position: relative;
  width:100%;
  z-index: 1;
}
.slide-box{
  padding-top:20px;
  width:100%;
}
.product-slide img{
  width:100%;
  height:auto;
  box-shadow: 0 0 10px black;
}
.product-slide a:hover img{
  transform: translate(-10px,-10px);
}
li.slick-slide{
  padding:20px;
}
.product-slide-list li p{
  width:100%;
  text-align: center;
  padding-top:20px;
  font-size:20px;
  color:black;
}
/* ----------type-section---------- */
/* header */
.type{
  position: relative;
  width:100%;
  display:flex;
  align-items: center;
  flex-direction: column;
}
.type-contents{
  margin-top:100px;
  width:1150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.type-contents a{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:330px;
  margin:0 20px;
  color:black;
}
.type-contents img{
  width:100%;
  height:190px;
  margin-bottom: 30px;
  margin-top: 50px;
}
.type-contents p:first-of-type{
  text-align: center;
  font-size:16px;
  line-height: 30px;
}
.type-contents p:last-child{
  text-align: center;
  font-size: 10px;
  line-height: 20px;
}


/* ----------buy,button---------- */
.buy,.gmenu{
  width:70px;
  height:70px;
  position:fixed;
  top:0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.buy{
  right:70px;
  background-color:black;
  color:white;
}
.buy:hover{
  color:white;
}
.buy .bounce{
  animation: key1 1.5s ease;
}
.buy span:first-child::before{
  color: #fff;
  content: "\f290";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.buy span:first-child{
  padding-bottom: 5px;
}
.buy span:last-child{
  font-size: 14px;
  font-weight: lighter;
}
.gmenu{
  right:0px;
  background-color: white;
}
.gmenu span{
  display: block;
  height:1px;
  width:28px;
  background:black;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-14px;
}